<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VociDoki</title>
</head>
<body>
    <h1>VociDoki</h2>
    <a href="{% url 'importieren' %}">Vokabeln importieren</a><br />
    <a href="">Vokabeln abfragen</a><br />
    
</body>
</html>